@model ProductViewModel

@{
    ViewData["Title"] = "Create";
    ViewBag.FormAction = "Create";
    Layout = "_ECommerceLayout";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />

<partial name="_ProductEditorPartial" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
