@model ProductViewModel

@{
    ViewData["Title"] = "Edit";
    ViewBag.FormAction = "Edit";
    Layout = "_ECommerceLayout";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />

<partial name="_ProductEditorPartial" />

@section Scripts {
    <script src="/js/product-editor-validation.js" defer></script>
}
